NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=<your_neo4j_password>

FMP_API_KEY=<your_fmp_api_key>
NEWS_API_KEY=<your_news_api_key>
ANTHROPIC_API_KEY=<your_anthropic_api_key>
ALPHA_VANTAGE_API_KEY=<your_alpha_vantage_api_key>

PERIOD_GRANULARITY=month
GEN_MODEL_NAME=<your_generation_model_name>
GEN_MAX_TOKENS=1200

MACRO_MAX_TOKENS_OUT=1800
MACRO_CHUNK_SCORE_THRESHOLD=2
MACRO_MAX_CHUNKS_PER_ARTICLE=3

ENABLE_ALPHA_MCP_REMOTE=0
ALPHA_VANTAGE_MCP_URL=<your_alpha_mcp_url>
ALPHA_MCP_TIMEOUT_SECONDS=20
ENABLE_MINHASH_DEDUP=1
MINHASH_SHINGLE_SIZE=5
MINHASH_LSH_THRESHOLD=0.85
MINHASH_NUM_PERM=128

DEBUG_SKIP_GENERATION=0

ENABLE_TRADINGECONOMICS_STREAM=0
TRADINGECONOMICS_STREAM_URL=<your_tradingeconomics_stream_url>
TRADINGECONOMICS_MAX_AGE_HOURS=24
