venv/
notebooks/
.env
*.txt 
*.json
*.ipynb
__pycache__/
*.parquet
*.csv
!requirements.txt
!financial_entity_map.csv
test_simple_scraper_v2.py
test_financial_entity_linker.py
create_sql_db.py
my_database.db
test*.py
my_database_snapshot.db
!prompt_templates.json
!ticker_company_map.csv
!notebooks/test.py
